*{
  margin: 0;
  padding: 0;
}

/* Project Fonts Style below*/

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}


/* Project Button Style */

.button-primary {
  background-color: #4E47FF;
  padding: 12px 36px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

.button-secondary{
  background-color: #4E47FF;
  padding: 19px 101px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

.btn-margin{
  margin-top: 30px;
}

.btn2-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Project Heading Styles below*/

h1 {
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  text-align: center;
}

h2 {
  font-size: 42px;
  font-weight: bold;
  color: #252432;
}

h3 {
  font-size: 38px;
  font-weight: bold;
  color: #252432;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  color: black;
  padding-top: 24px;
}

/* body style below */

body {
  background-color: #F5F8FF;
}

/* Header Style below */

header{
  background-image: url('../Assets/Hero-bg.png');
}

header section{
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div {
  padding: 150px 100px;
  text-align: center;
  margin: 0;
  gap: 30px;
}

/* See it in action section */

.see {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 166px auto;
}

.see1{
  width: 40%;
}

.see2{
  height: 328px;
  width: 403px;
  border-radius: 48px;
}

/* Joined section */

.joined{
  max-width: 1140px;
  margin: 0 auto;
}
.joined-div {
  text-align: center;
  background-color: rgba(78, 71, 255, 0.10);
  border-radius: 24px;
  padding: 50px 80px;
}

.joined-div1 {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.items-title{
  font-size: 80px;
  font-weight: bold;
  color: blue;
}

.items-description{
  font-size: 20px;
  font-weight: normal;
}

/* Review section */

.review-section{
  max-width: 1140px;
  margin: 137px auto;
}

.star {
  display: flex;
  gap: 5px;
  color: yellow;
}

.review-text{
  font-size: 16px;
  margin-top: 10px;
  width: 100%;
}

.review-profile{
  display: flex;
  gap: 10px;
  font-size: 16px;
  color: gray;
  padding-top: 24px;
}

.cards{
  display: flex;
  gap: 20px;
}

.card{
  width: 366px;
  background-color: #FFFFFF;
  border: 1px solid rgba(242, 237, 237, 1);
  border-radius: 14px;
  padding: 24px;
}

.h2-review{
  text-align: center;
  margin-bottom: 40px;
}

.h2-ready {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.ready{
  background-color: #FFFFFF;
  max-width: 1140px;
  margin: 137px auto;
  border-radius: 14px;
  text-align: center;
}

.ready-div{
  padding: 70px 150px;
}
